<div class="city_signers-container container">
    <div class="title-container">
        <div class="title-text">
            <h1>ABOLITION TO PINEAPPLE ON PIZZA!</h1>
            <p>Pineapple is wonderful, the problem is when it is on pizza</p>
        </div>
        <a href="/petition/logout" class="logout">LOGOUT</a>
    </div>

    
    <div class="flex-container">
        <div class="content-container">
            <p>Here are all the people in <strong>{{city}}</strong> who signed for this great cause:</p>
            <div class="all-signers">
            {{#signers}}
                <div class="signers">
                    <div class="names">
                        {{#if url}}
                            <p><a href={{url}} target="_blank">{{first}} {{last}}</a></p>
                        {{else}}
                            <p>{{first}} {{last}}</p>
                        {{/if}}
                    </div>

                    <div class="ages">
                        {{#if age}}    
                            <p>{{age}}</p>
                        {{/if}}
                    </div>
                </div>
            {{/signers}}
            </div>
        </div>
        <div class="img-container">
            <img src="/images/nonna.png">
        </div>
    </div>
</div>